.testimonial {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 28.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__carousel {
    position: relative;
    width: 32.7rem;
    height: 30.8rem;
    border: 1px solid red;
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2.4rem 2.4rem 0 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 25.4rem;
    height: 25.3rem;
    border-radius: 1rem;
    box-shadow: 0 35px 15px -19px rgba(111, 85, 168, 0.3);
  }

  &__img--john {
    display: none;
  }

  &__arrowsBox {
    background-color: white;
    position: absolute;
    bottom: 1.4rem;
    border-radius: 4rem;
  }

  &__arrow {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    -webkit-tap-highlight-color: transparent;
  }

  &__quoteBox {
    display: -webkit-box;
    flex-direction: column;
    justify-content: end;
    width: 31.1rem;
    height: 22.8rem;
    border: 1px solid red;
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position: center top;
    margin: 3.2rem 3.2rem 7.5rem 3.2rem;
  }

  &__quote {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    color: $brand-100;
    margin-bottom: 1.9rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    color: $brand-100;

    span {
      display: block;
    }

    span:last-child {
      font-weight: 500;
      color: $brand-200;
    }
  }
}
